@APP_ROOT: ~':local(.appRoot)';
@APP_APP_BAR: ~':local(.appAppBar)';
@APP_CONTENT: ~':local(.appContent)';
@APP_MENU: ~':local(.appMenu)';
@APP_MAIN_CONTENT: ~':local(.appMainContent)';

@{APP_ROOT}{
  flex-Grow: 1;
  z-Index: 1;
  overflow: hidden;
  position: relative;
  display: flex;
}

@{APP_APP_BAR}{
  z-Index: 2000,
}

@{APP_MAIN_CONTENT}{
  flex-Grow: 1;
  background-Color: #555555;
  padding: 20;
  minWidth: 0, // So the Typography noWrap works
}